			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						
						
						<p class="logo"><img src="/themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<span style="color: #eb4800">Phone: 0923167xx</span>
					</div>
					<div class="span4">
						<h4 style="color: #eb4800">Map</h4>
						<ul class="nav">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3928.8297985751833!2d105.769072!3d10.0309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c90a391d232ccce!2zS2hvYSBDw7RuZyBOZ2jhu4cgVGjDtG5nIFRpbiB2w6AgVHJ1eeG7gW4gVGjDtG5nIChDVFUp!5e0!3m2!1svi!2sus!4v1499516153168" width="360px" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
						</ul>
					</div>
					<div class="span5">
						<h4 style="color: #eb4800">Fan Page</h4>
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1440835509270821";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-page" data-href="https://www.facebook.com/Website-Fashion-Women-1878721829113782/" data-tabs="timeline" data-width="400px" data-height="200px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Website-Fashion-Women-1878721829113782/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Website-Fashion-Women-1878721829113782/">Website Fashion Women</a></blockquote></div>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2016 Shopping Cart Demo Product of Student Can Tho University.</span>
			</section>
		</div>
		<!-- scripts -->
		<script src="/react/react.js"></script>
		<script src="/react/react-dom.js"></script>
		<script src="/react/browser.min.js"></script>
		<script src="/themes/js/jquery.flexslider-min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>				
		<script src="/themes/js/jquery.scrolltotop.js"></script>
		<script src="/themes/js/common.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
					interval: 2500
				});								
			});
		</script>
	</body>
	</html>