<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopping Cart Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Shopping cart">
		<link rel="icon" href="/themes/images/logo.png">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="/themes/css/jquery.fancybox.css" rel="stylesheet"/>
		<link href="/themes/css/main.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="/themes/js/jquery-1.7.2.min.js"></script>
		<script src="/themes/js/superfish.js"></script>
		<script src="/themes/js/jquery.fancybox.js"></script>
		<script type="text/javascript">
			var url  = window.location.href;
			var lenghProductAndId = url.indexOf("productdetail/");
			var cart = url.indexOf("/cart");
			var payment = url.indexOf("/payment");
			var search = url.indexOf("/search");
			if(lenghProductAndId != -1){
				var lengthId= url.length - (lenghProductAndId+14);
				var id =  url.slice(url.length-lengthId, url.length);
				document.title = 'Product ' +id+ ' Detail  || Shopping Cart Demo';
			}
			if(cart != -1){
				document.title = 'Your Cart || Shopping Cart Demo';	
			}
			if(payment!= -1){
				document.title = 'Check and Payment || Shopping Cart Demo';	
			}
			if(search != -1){
				document.title = 'Search and View || Shopping Cart Demo';		
			}
		</script>
	</head>
    <body>	