		<style type="text/css">
			.input-block-level{
				color: #000 !important;
			}
		</style>
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<div id="search"></div>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="/">Home</a></li>
							<li><a href="/cart">Your Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="/themes/images/logo.png" class="site_logo" alt=""></a>
				</div>
			</section>
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="/themes/images/carousel/banner-1.jpg" alt="" />
						</li>
						<li>
							<img src="/themes/images/carousel/banner-2.jpg" alt="" />
							<div class="intro">
								<h1>Mid season sale</h1>
								<p><span>Up to 50% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="header_text">
				We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates. 
				<br/>Don't miss to use our cheap abd best bootstrap templates.
			</section>
		<script type = "text/babel" src="/react/search.js"></script>