
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Shopping Cart Demo Drashboard <a href="#">Phuc Dang</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- jQuery -->

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/react/react.js"></script>
    <script src="/react/react-dom.js"></script>
    <script src="/react/browser.min.js"></script>
    <!-- Bootstrap -->

    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <script src="/build/js/custom.min.js"></script>
	
  </body>
</html>
